body {
  background-color: #f3e5d7;
}

main {
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  padding: 2.5rem;
  width: 46rem;
}
figure {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  border-radius: 0.75rem;
}
.intro h1 {
  color: #312e2c;
  font-family: "Young Serif";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
}
.intro p {
  color: #5f564d;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.prep-time {
  display: flex;
  padding: 1.75rem;
  flex-direction: column;
  border-radius: 0.75rem;
  background: #fff7fb;
}
.prep-time h2 {
  font-family: Outfit;
  font-size: 1.25rem;
  font-weight: 600;
  color: #7a284e;
  margin: 0;
}
.custom-bullets {
  list-style-type: none;
  padding-left: 1.2em;
}

.custom-bullets li::before {
  content: "\2022";
  color: #7a284e;
  display: inline-block;
  width: 2rem;
  margin-left: -1em;
}
.thicker-text {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.5rem;
}
.prep-time li {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.ingredients h3 {
  font-family: "Young Serif";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #854632;
}
.ingredients li {
  font-family: Outfit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem; /* 24px */
}
.line {
  border: none;
  border-top: 1px solid #e3ddd7;
  width: 90%;
  margin: 2rem auto;
}

.attribution {
  font-size: 11px;
  text-align: right;
}
.attribution a {
  color: black;
  text-decoration: none;
}
